<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts project</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>
<body ng-app="application">

<div ng-controller="appCtrl">
    <!-- Charts preview -->
    <div class="preview-selector">
        <h2 class="text-center">Bar/line chart example (D3)</h2>
        <h4>You can select/unselect any countries you want:</h4>
        <button ng-click="select(true);">select all</button>
        <button ng-click="select(false);">deselect all</button>
        <span class="country-checkbox" ng-repeat="item in model track by item.id">
            <label>
                <input ng-model="item.selected" type="checkbox">{{item.country}}
            </label>
        </span>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
            <div class="control">
              <h4>Single bar chart:</h4>
              <bar-vert-eikon-d3 model="model"></bar-vert-eikon-d3>
            </div>

            <div class="control">
              <h4>Line chart:</h4>
              <line-eikon-d3 model="model"></line-eikon-d3>
            </div>

            <div class="control">
              <h4>Multiple bar chart:</h4>
              <multiple-bar-eikon-d3 model="model"></multiple-bar-eikon-d3>
            </div>
            <div class="control">
                <h4>Multiple bar + line chart:</h4>
                <multiple-bar-line-eikon-d3 model="model"></multiple-bar-line-eikon-d3>
            </div>

            <div class="control">
                <!-- <bar-vert-d3></bar-vert-d3> -->
            </div>

        </div>
      </div>
    </div>
</div>






<!-- Thirdparty libraries -->
<script src="js/jquery.js"></script>
<script src="js/angular.js"></script>
<script src="js/d3.js"></script>
<script src="js/d3-tip.js"></script>
<script src="js/highcharts.js"></script>

<script src="js/main.js"></script>
<script src="js/dataSvc.js"></script>

<script src="js/barVertD3.js"></script>
<script src="js/barHorD3.js"></script>

<script src="js/barVertEikonD3.js"></script>
<script src="js/lineEikonD3.js"></script>
<script src=js/multipleBarEikonD3.js></script>
<script src="js/multipleBarLineEikonD3.js"></script>
<script src="js/test.js"></script>

</body>
</html>
